## Building the Dataset

In [3]:
import numpy 
import pandas as pd 
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
headers = ["wId", "fId", "name", "release", "revenue", "runtime", "language", "countries", "genres"]
movies = pd.read_csv("./MovieSummaries/movie.metadata.tsv", sep="\t", names= headers)

In [6]:
movies.head(20)

,wId,fId,name,release,revenue,runtime,language,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ..."
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",..."
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur..."
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an..."
11,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,1974,NaN,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th..."
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ..."
13,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa..."
14,18296435,/m/04cqrs4,Aaah Belinda,1986,NaN,NaN,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/01z4y"": ""Comedy""}"
15,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""..."
16,30388930,/m/0g5qvzg,1919,1984,NaN,99.0,{},{},"{""/m/07s9rl0"": ""Drama""}"
17,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""..."
18,32456683,/m/0gyryjt,Die Fahne von Kriwoj Rog,1967,NaN,108.0,"{""/m/04306rv"": ""German Language""}","{""/m/03f2w"": ""German Democratic Republic""}",{}
19,33420460,/m/0gj30jx,Keep the Change,1992,NaN,97.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"

In [7]:
english_movies = movies[movies["language"] == '{"/m/02h40lc": "English Language"}']

In [8]:
english_movies["wId"].count()

33748

In [9]:
english_movies.head(10)

,wId,fId,name,release,revenue,runtime,language,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ..."
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur..."
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an..."
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ..."
13,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa..."
15,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""..."

In [10]:
import ast
def return_genres(json):
    dictionary = ast.literal_eval(json)
    genres = []
    for key, val in dictionary.items():
         genres.append(val)
    return genres

In [11]:
filtered_english_movies = english_movies[["wId", "name", "genres"]]

In [12]:
filtered_english_movies["genres"] = filtered_english_movies["genres"].map(return_genres)

In [13]:
filtered_english_movies.head(10)

,wId,name,genres
0,975900,Ghosts of Mars,"[Space western, Thriller, Action, Supernatural..."
1,3196793,Getting Away with Murder: The JonBenét Ramsey ...,"[Biographical film, Mystery, Crime Drama, Drama]"
3,9363483,White Of The Eye,"[Thriller, Erotic thriller, Psychological thri..."
6,18998739,The Sorcerer's Apprentice,"[Family Film, World cinema, Fantasy, Adventure]"
7,10408933,Alexander's Ragtime Band,"[Comedy, Black-and-white, Musical]"
9,2345652,City of the Dead,"[Supernatural, Horror]"
10,175026,Sarah and Son,"[Black-and-white, Drama]"
12,6631279,Little city,"[Comedy, Ensemble Film, Romance Film, Romantic..."
13,171005,Henry V,"[Costume drama, Period piece, War film, Epic, ..."
15,11250635,The Mechanical Monsters,"[Family Film, Short Film, Animation, Fantasy, ..."

In [14]:
columns = ["wId", "summary"]
plot_summaries = pd.read_csv("./MovieSummaries/plot_summaries.txt", names=columns, sep="\t")

In [15]:
plot_summaries.head(4)

        wId                                            summary
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...

In [16]:
main = pd.merge(filtered_english_movies, plot_summaries, how="inner", on="wId")

In [17]:
main.head(10)

,wId,name,genres,summary
0,975900,Ghosts of Mars,"[Space western, Thriller, Action, Supernatural...","Set in the second half of the 22nd century, th..."
1,9363483,White Of The Eye,"[Thriller, Erotic thriller, Psychological thri...",A series of murders of rich young women throug...
2,18998739,The Sorcerer's Apprentice,"[Family Film, World cinema, Fantasy, Adventure]","Every hundred years, the evil Morgana returns..."
3,6631279,Little city,"[Comedy, Ensemble Film, Romance Film, Romantic...","Adam, a San Francisco-based artist who works a..."
4,171005,Henry V,"[Costume drama, Period piece, War film, Epic, ...",{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...
5,11250635,The Mechanical Monsters,"[Family Film, Short Film, Animation, Fantasy, ...",The story starts as one of the robots flies i...
6,77856,Mary Poppins,"[Family Film, Comedy, Children's/Family, Fanta...",The film opens with Mary Poppins perched in a...
7,156558,Baby Boy,"[Coming of age, Drama, Crime Fiction]",A young 20-year-old named Jody lives with his...
8,9548445,Archie: To Riverdale and Back Again,[Comedy],"Archie Andrews, fifteen years after graduating..."
9,2487170,Troops,"[Short Film, Fan film, Indie]",An example of the film's comedic tone comes in...

In [18]:
test = main.genres.values.flatten()

In [19]:
test

array([list(['Space western', 'Thriller', 'Action', 'Supernatural', 'Science Fiction', 'Adventure', 'Horror']),
       list(['Thriller', 'Erotic thriller', 'Psychological thriller']),
       list(['Family Film', 'World cinema', 'Fantasy', 'Adventure']), ...,
       list(['Drama']),
       list(['Documentary', 'Biographical film', 'Drama']),
       list(['Teen', 'Thriller', 'Slasher', 'Horror'])], dtype=object)

In [20]:
genres_counts = pd.get_dummies(main.genres.apply(pd.Series).stack()).sum(level=0)

In [21]:
genres_counts.head(20)

,Absurdism,Acid western,Action,Action Comedy,Action Thrillers,Action/Adventure,Addiction Drama,Adult,Adventure,Adventure Comedy,...,War film,Werewolf fiction,Western,Whodunit,Women in prison films,Workplace Comedy,World History,World cinema,Z movie,Zombie Film
0,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [22]:
sums = genres_counts.sum(axis=0)

In [23]:
sums.head(15)

Absurdism                   58
Acid western                 4
Action                    2851
Action Comedy               70
Action Thrillers           240
Action/Adventure          2079
Addiction Drama             38
Adult                       61
Adventure                 2038
Adventure Comedy            94
Airplanes and airports      35
Albino bias                 13
Alien Film                  80
Alien invasion               4
Americana                   75
dtype: int64

In [24]:
candidate_genres = sums.sort_values(ascending=False)[0:20]

In [25]:
candidate_genres

Drama               8530
Comedy              6704
Thriller            3745
Romance Film        3043
Action              2851
Indie               2608
Black-and-white     2575
Horror              2568
Crime Fiction       2530
Family Film         2131
Action/Adventure    2079
Adventure           2038
Short Film          1947
Science Fiction     1526
Animation           1412
Romantic comedy     1363
Mystery             1356
Crime Thriller      1139
Fantasy             1116
Musical             1063
dtype: int64

In [26]:
excluded_genres = ["Indie", "Black-and-white", "Short Film", "Action/Adventure", "Family Film", "Musical" ]

In [27]:
genres = candidate_genres[~candidate_genres.index.isin(excluded_genres)]

In [28]:
genres

Drama              8530
Comedy             6704
Thriller           3745
Romance Film       3043
Action             2851
Horror             2568
Crime Fiction      2530
Adventure          2038
Science Fiction    1526
Animation          1412
Romantic comedy    1363
Mystery            1356
Crime Thriller     1139
Fantasy            1116
dtype: int64

In [29]:
genres

Drama              8530
Comedy             6704
Thriller           3745
Romance Film       3043
Action             2851
Horror             2568
Crime Fiction      2530
Adventure          2038
Science Fiction    1526
Animation          1412
Romantic comedy    1363
Mystery            1356
Crime Thriller     1139
Fantasy            1116
dtype: int64

In [30]:
genres_counts = genres_counts[genres.index.values.tolist()]

In [31]:
genres_counts.head(10)

,Drama,Comedy,Thriller,Romance Film,Action,Horror,Crime Fiction,Adventure,Science Fiction,Animation,Romantic comedy,Mystery,Crime Thriller,Fantasy
0,0,0,1,0,1,1,0,1,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,1,1,0,1,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,1,1,1,0,0,0,1
6,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7,1,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [32]:
dataset = pd.merge(main, genres_counts, how="inner", left_index=True, right_index=True)

In [33]:
dataset = dataset.drop(["wId", "name", "genres"], axis=1)

In [34]:
dataset.head(10)

,summary,Drama,Comedy,Thriller,Romance Film,Action,Horror,Crime Fiction,Adventure,Science Fiction,Animation,Romantic comedy,Mystery,Crime Thriller,Fantasy
0,"Set in the second half of the 22nd century, th...",0,0,1,0,1,1,0,1,1,0,0,0,0,0
1,A series of murders of rich young women throug...,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,"Every hundred years, the evil Morgana returns...",0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,"Adam, a San Francisco-based artist who works a...",1,1,0,1,0,0,0,0,0,0,1,0,0,0
4,{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,The story starts as one of the robots flies i...,0,0,0,0,1,0,0,1,1,1,0,0,0,1
6,The film opens with Mary Poppins perched in a...,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7,A young 20-year-old named Jody lives with his...,1,0,0,0,0,0,1,0,0,0,0,0,0,0
8,"Archie Andrews, fifteen years after graduating...",0,1,0,0,0,0,0,0,0,0,0,0,0,0
9,An example of the film's comedic tone comes in...,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Naive Baye's Classification

In [35]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

classifier = BinaryRelevance(GaussianNB())

dataset = dataset.head(5000)

x = dataset['summary']

y = dataset.drop(["summary"], axis=1)

y.shape

cnt_vect = CountVectorizer(stop_words='english')
tf_transform = TfidfTransformer()
clf = MultinomialNB()

r = cnt_vect.fit_transform(x)

r = tf_transform.fit_transform(r)

x = r

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33)

model = classifier.fit(x_train, y_train)

predictions = model.predict(x_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, predictions)

from sklearn.metrics import precision_recall_fscore_support

precision_recall_fscore_support(y_test, predictions, average='weighted')

##  MLkNN

In [53]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC

clf = OneVsRestClassifier(SVC(kernel='poly'))
clf.fit(x, y)
clf.predict(x)  # predict on a new X

In [ ]:
y

In [55]:
dataset.shape

(5000, 15)

In [57]:
dataset.to_csv("dataset_5000.csv",index=False)